.formDiv{
  margin-top: 20px;
  margin-bottom: 20px;
}

div{
  width: 80%;
  margin: 0 auto;
  /* border: 2px solid black; */
  text-align: center;
}
h3{
  display: inline-block;
}


table {
  font-family: monospace;
  border-collapse: collapse;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 20px;
}

td {
  margin: auto 0px;
}

td,
th {
  font-size: 13px;
  box-sizing: border-box;
  border: 2px solid #4b4b4b;
  border-radius: 5px;
  padding: 3px;
}

tr:nth-child(even) {
  background-color: #c5c1c1c7;
}

button {
  border-radius: 4px;
  background-color: #da3e3e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  padding: 5px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 20px;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
